<div class="modal fade in">
    <div class="btf-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Create</h4>
                    <span class="glyphicon glyphicon-remove close" ng-click="vmContactModal.close()"></span>
                </div>
                <form name="contactForm" novalidate ng-submit="vmContactModal.saveContact()">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="name" class="required">Name</label>
                            <input name="name" class="form-control" ng-model="vmContactModal.newContact.name" required>
                        </div>

                        <div class="form-group">
                            <label for="address" class="required">Address</label>
                            <input name="address" class="form-control" ng-model="vmContactModal.newContact.address" required>
                        </div>

                        <div class="form-group">
                            <label for="phone" class="required">Phone</label>
                            <input name="phone" class="form-control" ng-model="vmContactModal.newContact.phone" required>
                        </div>

                        <!-- hidden value -->
                        <input ng-show="false" ng-model="vmContactModal.newContact._id">
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" type="submit">Create</button>
                        <button class="btn btn-secondary" ng-click="vmContactModal.close()">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!--<div class="modal-header alert alert-info">-->
	<!--<button type="button" class="close" ng-click="vmContactModal.close()" aria-hidden="true">&times;</button>-->
	<!--<div class="modalTitle">-->
		<!--<h4>{{ vmContactModal.modalTitle }}</h4>-->
	<!--</div>-->
<!--</div>-->

<!--<form id="contactForm" name="contactForm" novalidate class="form-horizontal" ng-submit="vmContactModal.saveContact(contactForm.$valid)" role="form">-->
    <!--<div class="modal-body">-->
        <!--<div class="form-group"  ng-class="{ 'has-error' : contactForm.name.$invalid && !contactForm.name.$pristine && submitted }">-->
  		    <!--<label for="name" class="col-sm-2 control-label">Name<span class="required">*</span></label>-->
  		    <!--<div class="col-sm-10"  ng-class="{'readOnlyLabel': isReadOnly}">-->
    		    <!--<input ng-if="!isReadOnly" type="text" name="name" class="form-control" ng-model="vmContactModal.newContact.name" placeholder="Name" required>-->
                <!--<span ng-if="isReadOnly">{{contact.name}}</span>-->
                <!--<span ng-show="contactForm.name.$invalid && !contactForm.name.$pristine" class="help-block">Name required.</span>-->
            <!--</div>       -->
        <!--</div>-->
  	    <!--<div class="form-group" ng-class="{ 'has-error' : contactForm.address.$invalid && !contactForm.address.$pristine && submitted }">-->
  		    <!--<label for="address" class="col-sm-2 control-label">Address<span class="required">*</span></label>-->
  		    <!--<div class="col-sm-10"  ng-class="{'readOnlyLabel': isReadOnly}">-->
    		    <!--<input ng-if="!isReadOnly"  type="text" class="form-control" name="address" ng-model="vmContactModal.contact.address" placeholder="Address" required>-->
                <!--<span ng-if="isReadOnly">{{contact.address}}</span>-->
                <!--<span ng-show="contactForm.address.$invalid && !contactForm.address.$pristine" class="help-block">Address required.</span>                -->
  		    <!--</div>        -->
        <!--</div>-->
  	    <!--<div class="form-group" ng-class="{ 'has-error' : contactForm.phone.$invalid && !contactForm.phone.$pristine && submitted}">-->
      	    <!--<label for="phone" class="col-sm-2 control-label">Phone<span class="required">*</span></label>-->
      		<!--<div class="col-sm-10"  ng-class="{'readOnlyLabel': isReadOnly}">-->
        	    <!--<input ng-if="!isReadOnly" type="text" class="form-control" ng-model="vmContactModal.contact.phone" name="phone" placeholder="Phone" required>-->
                <!--<span class="readOnlyLabel" ng-if="isReadOnly">{{contact.phone}}</span>-->
                <!--<span ng-show="contactForm.phone.$invalid && !contactForm.phone.$pristine" class="help-block">Phone required.</span>-->
            <!--</div>        -->
      	<!--</div>  	-->
    <!--</div>-->

    <!--<!-- hidden value -->
    <!--<input ng-show="false" ng-model="vmContactModal.contact._id" />-->

    <!--<div class="modal-footer">-->
        <!--<div class="actionButtons">-->
	       <!--<a class="glyphicon glyphicon-pencil" ng-show="isReadOnly" ng-click="isEditable(true)"></a>-->
           <!--<button ng-if="!isReadOnly" class="btn btn-primary" type="submit">{{buttonText}}</button>-->
           <!--<button ng-if="!isReadOnly" class="btn btn-warning" ng-click="cancelAction(false)">Cancel</button>-->
        <!--</div>           -->
    <!--</div>      -->
<!--</form>-->