<div class="thumbnail contact clearfix" ng-click="vmThumbnail.contactAction(contact)">
    <div class="thumbnail-header">
        <i class="glyphicon glyphicon-user"></i>
        <span class="thumbnail-title">{{ contact.name }}</span>
    </div>
    <div class="thumbnail-details pull-left">
        <span class="phone-detail">
            <i class="glyphicon glyphicon-earphone"></i>
            {{ contact.name }}
        </span>
        <span class="address-detail">
            <i class="glyphicon glyphicon-screenshot"></i>
            {{ contact.address }}
        </span>
        <i class="pull-right glyphicon glyphicon-trash" ng-click="vmThumbnail.openConfirmationModal({contact : contact})"></i>
    </div>
</div>