.caption.contactDetail{
	height: 80px;
	margin-top: 5px;
}

.contactDiv a{
	color: black;
	padding-top: 18px;
}

.contactDiv a:hover{
	color: red;
	font-size: 21px;
}

.thumbnail .nameTitle{
	font-weight: bold;
	margin: 10px 0 10px 6px;
	font-size: 18px;	
}

.actionButtons{
	clear: both;
}

.actionButtons a{
	padding: 10px 0 10px 15px;
	float: right;
	text-decoration: none;
	color: black;
	font-size: 20px;
}

.actionButtons a:hover{
	text-decoration: underline;
	color: blue;
	font-weight: bold;
	cursor: pointer;
}

.searchBarContainer{
	padding: 15px 5px 15px 0px;
}

.searchBar{	
	width: 300px;
	margin-left: 3px;
	height: 27px;
}

.contactDiv:hover{
	cursor: pointer;
	background-color: #e7e7ed;
}

.header{
	background-color: #428bca;
}

.nameTitle{
	color: white;
}

.modalTitle h4{
	font-weight: bold;
	text-align: center;
}

.glyphicon-user{
	font-size: 20px;
}

.required{
	color: red;
	font-weight: bold;
	font-size: 18px;
}

#navbarCollapse .addContact:hover{
	background-color: #e7e7ed;
}

.ng-invalid:focus ~ .help-block {
     display:none;
}

#contactForm .btn:hover , .modal-header .close:hover{
	font-weight: bold;
}

.modal-body .notifyModal{
	-webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
	box-shadow: 0 5px 15px rgba(0,0,0,.5);
	position: relative;
	background-color: #fff;
	border: 1px solid #999;
	border: 1px solid rgba(0,0,0,.2);
	border-radius: 6px;
	-webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
	box-shadow: 0 3px 9px rgba(0,0,0,.5);
	background-clip: padding-box;
	outline: 0;
	box-sizing: border-box;
}

.addressDetail{
	clear: both;
	padding-top: 10px;
}



