/*------------------------------------*\
    #CONTAINERS
\*------------------------------------*/

header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  color: white;
  background-color: #00bcd4;

  padding: 16px;
  min-height: 55px;

  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
}

footer {
  posiion: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  border-top: 1px solid black;

  height: 50px;
  margin: 50px 0;
  padding-top: 20px;
}


.container-fluid {
  padding-top: 70px;

  .action-bar {
    padding: 14px;

    a:hover {
      text-decoration: none;
    }

    span {
      font-weight: 600;
    }

    .search-bar {
      display: inline-block;
      width: 300px;
      padding: 6px;
      margin-left: 5px;
    }
  }

  .main-content {
    min-height: 300px;
    padding-top: 30px;
  }

  .add-contact {
    color: #0288d1;
    display: inline-block;
    font-size: 16px;
    line-height: 28px;

    &:hover {
      color: #01579b;
    }

    &::before {
       font-size: 20px;
      line-height: 20px;
      vertical-align: middle;
    }

    & > span {
      padding-left: 8px;
    }
  }
}

.box-depth {
  @include box-shadow(rgba(0, 0, 0, 0.24) 0 2px 4px);
}