/*------------------------------------*\
    #FORM
\*------------------------------------*/

.required::after {
  color: #F44336;
  font-weight: bold;
  font-size: 18px;
}

.searchBar {
  width: 300px;
  margin-left: 3px;
  height: 27px;
}