/*------------------------------------*\
    #MODAL
\*------------------------------------*/
.modal {
  background-color: rgba(0,0,0,0.4);
  display: block;
}

.btf-modal {
  max-width: none;
}

.modal-title {
  display: inline-block;

  .close {
    float: right;
    font-size: 21px;
    cursor: pointer;
  }
}