<!-- NAV BAR -->
<div class="row"><nav-bar></nav-bar></div> 
<div class="alert alert-success saveMessage" ng-show="hasAlertVisible">
 	<strong>You successfully {{actionMode}} a contact
 </div>
<div>    
	<div ng-repeat="contact in contacts | orderBy:'name' | filter:search">
		<div class="col-sm-4 col-md-3">
    		<div class="thumbnail contactDiv" ng-click="contactAction(contact)">
    			<div class="header">
    				<span class="glyphicon glyphicon-user"></span>
    				<span class="nameTitle">{{contact.name}}</span>
    			</div>
				<div class="caption contactDetail">
					<div class="phoneDetail pull-left glyphicon glyphicon-earphone">{{contact.name}}</div>
					<div class="addressDetail pull-left glyphicon glyphicon-screenshot">{{contact.address}}</div>
					<a class="pull-right glyphicon glyphicon-trash" ng-click="deleteContact($event, contact)"></a>
				</div>    			
    		</div>
 		</div>
 	</div>  	
</div>