<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li><a class="glyphicon glyphicon-plus" href="#" ng-click="contactAction()"> Contact</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<ul class="nav navbar-nav navbar-right searchBarContainer">
					<li><label class="help-inline">Filter: </label></li>
					<li><input class="searchBar form-control" ng-model="search.name" type="text"></li>
				</ul>
			</ul>
		</div>
	</div>
</nav>